<div>
  <h2 class="index_list_label">メモ一覧</h2>
</div>
<section>
  <ul class="index_memo_list">
    <% @memos.each do |memo| %>
      <li class="memo_list_title"><a href="<%= "/memos/#{memo['id']}" %>"><%= h(memo['title']) %></a></li>
    <% end %>
  </ul>
  <div>
    <a href="/memos/new" class="index_register_label">メモ登録</a>
  </div>
<section>
