<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/reset.css" type="text/css">
    <link rel="stylesheet" href="/memo.css" type="text/css">
  </head>
  <body>
    <main>
      <header>
        <h1><a href="/memos" class="header">メモアプリ</a></h1>
      </header>
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
