<section>
  <form method="post" action="/memos">
    <div>
      <label class="label">タイトル</label>
      <input type="text" name="title" class="title_textfield" required>
    </div>
    <div>
      <label class="label">内容</label>
      <textarea name="text" class="text_textarea" required></textarea>
    </div>
    <div>
      <input type="submit" value="保存" class="save_button">
    </div>
  </form>
</section>
