<div class="header">
  <h2 class="header_title"><%= h(@title) %></h2>
</div>
<section class="memo">
  <div>
    <p class="memo_text"><%= h(@text) %></p>
  </div>
  <form method="post" action="/memos/<%= @id %>">
    <div class="memo-main__button">
      <input type="submit" value="削除" class="delete_button">
      <input type="hidden" name="_method" value="DELETE">
      <a href="/memos/<%= @id %>/edit" class="edit_button">編集</a>
    </div>
  </form>
</section>
